.auth {
  width: 95%;
  max-width: 25rem;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.auth h1 {
  color: white;
  text-align: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.control input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid white;
  border-radius: 4px;
  color: #38015c;
  font: inherit;
  text-align: left;
  background-color: #f1e1fc;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.actions button {
  padding: 0.5rem 2.5rem;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  color: white;
  font: inherit;
  cursor: pointer;
  background-color: #9f5ccc;
}

.actions button:hover {
  border-color: #873abb;
  background-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  padding: 0.15rem 1.5rem;
  border: none;
  color: #9f5ccc;
  background-color: transparent;
}

.actions .toggle:hover {
  color: #ae82cc;
  background-color: transparent;
}
